body {
    font-family: 'Poppins', sans-serif;
    margin:0;
}

.top-banner{
    background-image:url(images/top-banner.png);
    background-repeat:no-repeat;
}
 h1 {
    font-size: 50px;
}

.peter-parker {
    color: orange;
}

section {
    display: flex;
}

.half-width{
    width: 50%;
    padding-left: 4%;
}

.pragrachp {
    text-align: justify;
    font-size: 19px;
    color:rgb(90, 89, 89)
}

.link-button {
    font-size: 20px;
    font-weight: 500;
    color: white;
    padding: 8px 24px;
    border-radius: 5px;
    background-image: linear-gradient(orange, tomato);
    text-decoration: none;

}

.half-width img{
    width:80%;
}
.trainer-jhankar{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position:right;
    padding-left: 4%;
    margin-top:5%;
}