body {
    font-family: 'Poppins', sans-serif;
    margin:0;
}

.top-banner{
    background-image:url(images/top-banner.png);
    background-repeat:no-repeat;
}
 h1 {
    font-size: 50px;
}
 h2 {
    font-size: 40px;
}

.peter-parker {
    color: orange;
}

.flexible-container {
    display: flex;
}

.half-width{
    width: 50%;
    padding-left: 6%;
}

.pragrachp {
    text-align: justify;
    font-size: 19px;
    color:rgb(90, 89, 89)
}

.link-button {
    font-size: 20px;
    font-weight: 500;
    color: white;
    padding: 8px 24px;
    border-radius: 5px;
    background-image: linear-gradient(orange, tomato);
    text-decoration: none;

}

.half-width img{
    width:80%;
}
.trainer-jhankar{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position:right;
    padding-left: 6%;
    margin-top:5%;
}
.developer-stack{
    margin-top: 6%;
    padding-left:20px;
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;

}
.box-area{
  width:40%;
  margin-bottom:10%;
  margin-left:3%;
  margin-right:4%;
  padding-left:20px;
  padding: 2%;
  box-shadow: 10px 10px 40px silver;
  border-radius:10px;
  border-left: solid 8px rgba(107, 7, 174, 0.318);
}
.center-footer{
    text-align: center;
    color: rgba(169, 163, 163, 0.918);
}